@model Ris2022.Data.Models.Modality
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = @Resource.Details + " " + @Resource.Modality;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
    let activeLink = document.querySelector(".scrollmenu .custom-nav-item#modalityLink");
    activeLink.classList.add("active");
</script>

<h1 class="main-title">@Resource.Details</h1>

<div class="show-details">
    <h4>@Resource.Modality</h4>
    <hr />
    <dl class="row justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aetitle)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Aetitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ipaddress)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Ipaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Port)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Port)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modalitytype)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Modalitytype.Namear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Department.Namear)
        </dd>
    </dl>
</div>
<div class="mt-5">
    @if ((await authorizationService.AuthorizeAsync(User, "EditModalitiesPolicy")).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn edit-btn mx-2">@Resource.Edit <i class="fa fa-edit"></i></a><span> | </span>
    }
    <a asp-action="Index" class="btn back-btn mx-2 py-2">@Resource.BackToList <i class="fa fa-hand-o-right"></i></a>
</div>
