@model UserClaimsViewModel

@{
    ViewBag.Title = "Manage User Claims";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2 class="main-title custom-card-header-title">Manage User Claims For @ViewBag.UserName</h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-start text-start">
            @for (int i = 0; i < Model.Claims.Count; i++)
            {
                @*@if (i == 0 && Model.Claims[i].ClaimTitle != Model.Claims[i - 1].ClaimTitle)
            {
            @Model.Claims[i].ClaimTitle
            }*@
                @if (i == 0)
                {
                    <h1 class="click-claim text-start" data-collapseitems="@Model.Claims[i].ClaimTitle.Replace(" ", "")"><i class="fa fa-chevron-down"></i> @Model.Claims[i].ClaimTitle</h1>
                }
                else if (Model.Claims[i].ClaimTitle != Model.Claims[i - 1].ClaimTitle)
                {
                     <h1 class="click-claim text-start" data-collapseitems="@Model.Claims[i].ClaimTitle.Replace(" ", "")"><i class="fa fa-chevron-down"></i> @Model.Claims[i].ClaimTitle</h1>
                }
                <div class="col-3">
                    @*<div class="form-check m-1 @Model.Claims[i].ClaimTitle.Replace(" ", "") claims-group" style="display: none;">
                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                        <label asp-for="@Model.Claims[i].IsSelected">@Model.Claims[i].ClaimType.Replace("-->", " ")</label>
                    </div>*@

                        <div class="checkbox @Model.Claims[i].ClaimTitle.Replace(" ", "") claims-group" style="display: none;">
                            <label asp-for="@Model.Claims[i].IsSelected" class="custom-checkbox">
                                <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                <input asp-for="@Model.Claims[i].IsSelected" type="checkbox" />
                                <span class="input-check"></span>
                                @Model.Claims[i].ClaimType.Replace("-->", " ")
                            </label>
                        </div>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
        @*<div class="card-body">
        @for (int i = 0; i < Model.Claims.Count; i++)
        {
        @Model.Claims[i].ClaimTitle
        <div class="form-check m-1">
        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
        <label asp-for="@Model.Claims[i].IsSelected">@Model.Claims[i].ClaimType.Replace("-->", " ") : @Model.Claims[i].IsSelected</label>
        </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
        </div>*@
        <div class="card-footer">
            <button type="submit" class="btn create-btn mx-2 p-2">Update <i class="fa fa-edit"></i></button> | 
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn back-btn p-2 mx-2">Cancel</a>
        </div>
    </div>
</form>
