@model Ris2022.Data.Models.Patient

@{
    ViewData["Title"] = @Resource.Details + " " + @Resource.OnePatient;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
    let activeLink = document.querySelector(".scrollmenu .custom-nav-item#patientLink");
    activeLink.classList.add("active");
</script>

<h1 class="main-title">@Resource.Details</h1>

<div class="show-details">
    <h4>@Resource.OnePatient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Givenid)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Givenid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Middlename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gendre)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Gendre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mothername)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Mothername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilephone)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Mobilephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Landphone)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Landphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currentaddress)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Currentaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Residentaddress)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Residentaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workphone)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Workphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workaddress)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Workaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nearestperson)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Nearestperson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nearestpersonphone)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Nearestpersonphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthplace)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Birthplace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translatedfname)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Translatedfname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translatedlname)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Translatedlname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translatedfathername)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Translatedfathername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translatedmothername)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Translatedmothername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insertdate)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Insertdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateuserName)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.UpdateuserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updatedate)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Updatedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reasonid)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Reasonid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertUserName)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.InsertUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Nationality.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worktype)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Worktype.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Martialstatus)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Martialstatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acceptancetype)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Acceptancetype.Id)
        </dd>
    </dl>
</div>
<div class="mt-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn edit-btn px-4 mx-2">@Resource.Edit <i class="fa fa-edit"></i></a> |
    <a asp-action="Index" class="btn back-btn px-4 py-2 mx-2">@Resource.BackToList <i class="fa fa-hand-o-right"></i></a>
</div>
