@model Order

@{
    ViewData["Title"] = Resource.AddOrder;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>
    let activeLink = document.querySelector(".scrollmenu .custom-nav-item#orderLink");
    activeLink.classList.add("active");
</script>

<h1 class="main-title">@Resource.AddNew @Resource.Order</h1>

<hr />
<div class="row">
    <form asp-action="Create" class="create-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model=>model.Patientid)
        @Html.HiddenFor(model=>model.Studyid)

        <div class="row justify-content-center align-items-center">
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Modalityid" class="control-label"></label>
                    <select asp-for="Modalityid" class="form-control" asp-items="ViewBag.Modalityid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Proceduretypeid" class="control-label"></label>
                    <select asp-for="Proceduretypeid" class="form-control" asp-items="ViewBag.Proceduretypeid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            </div>

            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Doctorid" class="control-label"></label>
                    <select asp-for="Doctorid" class="form-control" asp-items="ViewBag.Doctorid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Departmentid" class="control-label"></label>
                    <select asp-for="Departmentid" class="form-control" asp-items="ViewBag.Departmentid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
            <div class="form-group">
                <label asp-for="Documentid" class="control-label"></label>
                <input asp-for="Documentid" class="form-control" />
                <span asp-validation-for="Documentid" class="text-danger"></span>
            </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Ordertypeid" class="control-label"></label>
                    <select asp-for="Ordertypeid" class="form-control" asp-items="ViewBag.Ordertypeid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Reasonid" class="control-label"></label>
                    <select asp-for="Reasonid" class="form-control" asp-items="ViewBag.Reasonid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Paytypeid" class="control-label"></label>
                    <select asp-for="Paytypeid" class="form-control" asp-items="ViewBag.Paytypeid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Payreasonid" class="control-label"></label>
                    <input asp-for="Payreasonid" class="form-control" />
                    <span asp-validation-for="Payreasonid" class="text-danger"></span>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Clinicid" class="control-label"></label>
                    <select asp-for="Clinicid" class="form-control" asp-items="ViewBag.Clinicid"></select>
                </div>
            </div>
            <div class="p-3 col-4 d-flex flex-column">
                <div class="form-group">
                    <label asp-for="Modalitytypeid" class="control-label"></label>
                    <select asp-for="Modalitytypeid" class="form-control" asp-items="ViewBag.Modalitytypeid"></select>
                </div>
            </div>

            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
                <button type="submit" value="Create" class="btn create-btn">@Resource.Create <i class="fa fa-plus"></i></button>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn back-btn">@Resource.BackToList <i class="fa fa-hand-o-right"></i></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
